In [1]:
import pandas as pd

In [2]:
df=pd.read_csv(r"C:\Users\tenyj\Downloads\stack-overflow-developer-survey-2023/survey_results_public.csv",index_col='ResponseId')
df_schema=pd.read_csv(r"C:\Users\tenyj\Downloads\stack-overflow-developer-survey-2023/survey_results_schema.csv",index_col='qid')

In [3]:
df
#df_schema

,Q120,MainBranch,Age,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,...,Frequency_1,Frequency_2,Frequency_3,TimeSearching,TimeAnswering,ProfessionalTech,Industry,SurveyLength,SurveyEase,ConvertedCompYearly
ResponseId,,,,,,,,,,,,,,,,,,,,,
1,I agree,None of these,18-24 years old,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,I agree,I am a developer by profession,25-34 years old,"Employed, full-time",Remote,Hobby;Contribute to open-source projects;Boots...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;Friend or fam...,Formal documentation provided by the owner of ...,Other,...,1-2 times a week,10+ times a week,Never,15-30 minutes a day,15-30 minutes a day,DevOps function;Microservices;Automated testin...,"Information Services, IT, Software Development...",Appropriate in length,Easy,285000.0
3,I agree,I am a developer by profession,45-54 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby;Professional development or self-paced l...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;On the job tr...,Formal documentation provided by the owner of ...,NaN,...,6-10 times a week,6-10 times a week,3-5 times a week,30-60 minutes a day,30-60 minutes a day,DevOps function;Microservices;Automated testin...,"Information Services, IT, Software Development...",Appropriate in length,Easy,250000.0
4,I agree,I am a developer by profession,25-34 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Colleague;Friend or family member;Other online...,Formal documentation provided by the owner of ...,NaN,...,1-2 times a week,10+ times a week,1-2 times a week,15-30 minutes a day,30-60 minutes a day,Automated testing;Continuous integration (CI) ...,NaN,Appropriate in length,Easy,156000.0
5,I agree,I am a developer by profession,25-34 years old,"Employed, full-time;Independent contractor, fr...",Remote,Hobby;Contribute to open-source projects;Profe...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Online Courses or Certi...,Formal documentation provided by the owner of ...,Other;Codecademy;edX,...,1-2 times a week,1-2 times a week,3-5 times a week,60-120 minutes a day,30-60 minutes a day,Microservices;Automated testing;Observability ...,Other,Appropriate in length,Neither easy nor difficult,23456.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89180,I agree,I am a developer by profession,25-34 years old,"Employed, full-time;Independent contractor, fr...",Remote,Hobby;Bootstrapping a business;Freelance/contr...,"Associate degree (A.A., A.S., etc.)",Online Courses or Certification;Other online r...,Formal documentation provided by the owner of ...,Udemy,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Neither easy nor difficult,NaN
89181,I agree,I am a developer by profession,18-24 years old,"Student, full-time;Employed, part-time","Hybrid (some remote, some in-person)",School or academic work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Colleague;Online Courses or Certification;Othe...,Formal documentation provided by the owner of ...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN
89182,I agree,I code primarily as a hobby,Prefer not to say,I prefer not to say,NaN,NaN,Something else,Books / Physical media;Hackathons (virtual or ...,NaN,Codecademy;Coursera,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Neither easy nor difficult,NaN
89183,I agree,I am a developer by profession,Under 18 years old,"Employed, part-time;Student, part-time","Hybrid (some remote, some in-person)",Hobby;School or academic work,"Secondary school (e.g. American high school, G...",Online Courses or Certification;Other online r...,Formal documentation provided by the owner of ...,Udemy,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult,NaN
89184,I agree,I am a developer by profession,35-44 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby;Professional development or self-paced l...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Colleague;Online Courses or Certification;Othe...,Formal documentation provided by the owner of ...,Codecademy;Pluralsight;Coursera,...,Never,1-2 times a week,1-2 times a week,60-120 minutes a day,30-60 minutes a day,DevOps function;Developer portal or other cent...,"Information Services, IT, Software Development...",Appropriate in length,Easy,NaN

In [4]:
df.info()
df_schema.info()

<class 'pandas.core.frame.DataFrame'>
Index: 89184 entries, 1 to 89184
Data columns (total 83 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Q120                                 89184 non-null  object
 1   MainBranch                           89184 non-null  object
 2   Age                                  89184 non-null  object
 3   Employment                           87898 non-null  object
 4   RemoteWork                           73810 non-null  object
 5   CodingActivities                     73764 non-null  object
 6   EdLevel                              87973 non-null  object
 7   LearnCode                            87663 non-null  object
 8   LearnCodeOnline                      70084 non-null  object
 9   LearnCodeCoursesCert                 37076 non-null  object
 10  YearsCode                            87435 non-null  object
 11  YearsCodePro                         66136 non-null  object
 12  DevType                              76872 non-null  object
 13  OrgSize                              65043 non-null  object
 14  PurchaseInfluence                    64964 non-null  object
 15  TechList                             60851 non-null  object
 16  BuyNewTool                           83009 non-null  object
 17  Country                              87973 non-null  object
 18  Currency                             65334 non-null  object
 19  CompTotal                            48225 non-null  float64
 20  LanguageHaveWorkedWith               87140 non-null  object
 21  LanguageWantToWorkWith               80709 non-null  object
 22  DatabaseHaveWorkedWith               73435 non-null  object
 23  DatabaseWantToWorkWith               60911 non-null  object
 24  PlatformHaveWorkedWith               63628 non-null  object
 25  PlatformWantToWorkWith               51308 non-null  object
 26  WebframeHaveWorkedWith               66938 non-null  object
 27  WebframeWantToWorkWith               56741 non-null  object
 28  MiscTechHaveWorkedWith               57019 non-null  object
 29  MiscTechWantToWorkWith               46848 non-null  object
 30  ToolsTechHaveWorkedWith              77884 non-null  object
 31  ToolsTechWantToWorkWith              68315 non-null  object
 32  NEWCollabToolsHaveWorkedWith         85864 non-null  object
 33  NEWCollabToolsWantToWorkWith         76649 non-null  object
 34  OpSysPersonal use                    86557 non-null  object
 35  OpSysProfessional use                78587 non-null  object
 36  OfficeStackAsyncHaveWorkedWith       69090 non-null  object
 37  OfficeStackAsyncWantToWorkWith       53743 non-null  object
 38  OfficeStackSyncHaveWorkedWith        83439 non-null  object
 39  OfficeStackSyncWantToWorkWith        69776 non-null  object
 40  AISearchHaveWorkedWith               56328 non-null  object
 41  AISearchWantToWorkWith               46150 non-null  object
 42  AIDevHaveWorkedWith                  25904 non-null  object
 43  AIDevWantToWorkWith                  19587 non-null  object
 44  NEWSOSites                           87973 non-null  object
 45  SOVisitFreq                          87140 non-null  object
 46  SOAccount                            87852 non-null  object
 47  SOPartFreq                           66061 non-null  object
 48  SOComm                               87692 non-null  object
 49  SOAI                                 47858 non-null  object
 50  AISelect                             87973 non-null  object
 51  AISent                               61501 non-null  object
 52  AIAcc                                38594 non-null  object
 53  AIBen                                61396 non-null  object
 54  AIToolInterested in Using            32783 non-null  object
 55  AIToolCurrently Using                36137 non-null  object
 56  AIToolNot interested in Using        21069 non-null  object
 57  AINextVery different                 12661 non-null  object
 58  AINextNeither different nor similar  6599 non-null   object
 59  AINextSomewhat similar               6238 non-null   object
 60  AINextVery similar                   2621 non-null   object
 61  AINextSomewhat different             23303 non-null  object
 62  TBranch                              65768 non-null  object
 63  ICorPM                               43668 non-null  object
 64  WorkExp                              43579 non-null  float64
 65  Knowledge_1                          42535 non-null  object
 66  Knowledge_2                          41670 non-null  object
 67  Knowledge_3                          41798 non-null  object
 68  Knowledge_4                          41684 non-null  object
 69  Knowledge_5                          41527 non-null  object
 70  Knowledge_6                          41520 non-null  object
 71  Knowledge_7                          41467 non-null  object
 72  Knowledge_8                          41404 non-null  object
 73  Frequency_1                          41916 non-null  object
 74  Frequency_2                          41925 non-null  object
 75  Frequency_3                          41054 non-null  object
 76  TimeSearching                        42778 non-null  object
 77  TimeAnswering                        42629 non-null  object
 78  ProfessionalTech                     41783 non-null  object
 79  Industry                             36774 non-null  object
 80  SurveyLength                         86485 non-null  object
 81  SurveyEase                           86554 non-null  object
 82  ConvertedCompYearly                  48019 non-null  float64
dtypes: float64(3), object(80)
memory usage: 57.2+ MB
<class 'pandas.core.frame.DataFrame'>
Index: 78 entries, QID16 to QID290
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   qname       78 non-null     object
 1   question    78 non-null     object
 2   force_resp  67 non-null     object
 3   type        78 non-null     object
 4   selector    78 non-null     object
dtypes: object(5)
memory usage: 3.7+ KB

In [5]:
#Accessing the ccolumns

df[['Age','Country']]

                           Age                       Country
ResponseId
1              18-24 years old                           NaN
2              25-34 years old      United States of America
3              45-54 years old      United States of America
4              25-34 years old      United States of America
5              25-34 years old                   Philippines
...                        ...                           ...
89180          25-34 years old                        Brazil
89181          18-24 years old                       Romania
89182        Prefer not to say                        Israel
89183       Under 18 years old                   Switzerland
89184          35-44 years old  Iran, Islamic Republic of...

[89184 rows x 2 columns]

In [6]:
#Accessing the rows with iloc

#df.iloc[0]
df.iloc[[0,1,2],[1,2]]

                                MainBranch              Age
ResponseId
1                            None of these  18-24 years old
2           I am a developer by profession  25-34 years old
3           I am a developer by profession  45-54 years old

In [7]:
#Accessing the rows with loc

#df.loc[[1,2],['MainBranch','Age']]
df.loc[1:3]

,Q120,MainBranch,Age,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,...,Frequency_1,Frequency_2,Frequency_3,TimeSearching,TimeAnswering,ProfessionalTech,Industry,SurveyLength,SurveyEase,ConvertedCompYearly
ResponseId,,,,,,,,,,,,,,,,,,,,,
1,I agree,None of these,18-24 years old,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,I agree,I am a developer by profession,25-34 years old,"Employed, full-time",Remote,Hobby;Contribute to open-source projects;Boots...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;Friend or fam...,Formal documentation provided by the owner of ...,Other,...,1-2 times a week,10+ times a week,Never,15-30 minutes a day,15-30 minutes a day,DevOps function;Microservices;Automated testin...,"Information Services, IT, Software Development...",Appropriate in length,Easy,285000.0
3,I agree,I am a developer by profession,45-54 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby;Professional development or self-paced l...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;On the job tr...,Formal documentation provided by the owner of ...,NaN,...,6-10 times a week,6-10 times a week,3-5 times a week,30-60 minutes a day,30-60 minutes a day,DevOps function;Microservices;Automated testin...,"Information Services, IT, Software Development...",Appropriate in length,Easy,250000.0

In [8]:
df['Employment']

ResponseId
1                                                      NaN
2                                      Employed, full-time
3                                      Employed, full-time
4                                      Employed, full-time
5        Employed, full-time;Independent contractor, fr...
                               ...
89180    Employed, full-time;Independent contractor, fr...
89181               Student, full-time;Employed, part-time
89182                                  I prefer not to say
89183               Employed, part-time;Student, part-time
89184                                  Employed, full-time
Name: Employment, Length: 89184, dtype: object

In [9]:
#we can use slicing to select a range instead of giving them in braces

df.loc[1:3,'Employment':'Country']

,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,YearsCode,YearsCodePro,DevType,OrgSize,PurchaseInfluence,TechList,BuyNewTool,Country
ResponseId,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Employed, full-time",Remote,Hobby;Contribute to open-source projects;Boots...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;Friend or fam...,Formal documentation provided by the owner of ...,Other,18,9,"Senior Executive (C-Suite, VP, etc.)",2 to 9 employees,I have a great deal of influence,Investigate,Start a free trial;Ask developers I know/work ...,United States of America
3,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby;Professional development or self-paced l...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;On the job tr...,Formal documentation provided by the owner of ...,NaN,27,23,"Developer, back-end","5,000 to 9,999 employees",I have some influence,Given a list,Start a free trial;Ask developers I know/work ...,United States of America

In [10]:
#df.index
df_schema.index

Index(['QID16', 'QID12', 'QID310', 'QID312', 'QID1', 'QID2', 'QID127',
       'QID296', 'QID308', 'QID297', 'QID190', 'QID25', 'QID276', 'QID281',
       'QID306', 'QID32', 'QID34', 'QID31', 'QID29', 'QID278', 'QID322',
       'QID279', 'QID6', 'QID50', 'QID51', 'QID61', 'QID233', 'QID262',
       'QID263', 'QID264', 'QID265', 'QID275', 'QID274', 'QID71', 'QID282',
       'QID307', 'QID327', 'QID328', 'QID91', 'QID266', 'QID100', 'QID101',
       'QID102', 'QID106', 'QID313', 'QID325', 'QID314', 'QID315', 'QID324',
       'QID316', 'QID319', 'QID320', 'QID321', 'QID295', 'QID299', 'QID287',
       'QID288', 'QID289', 'QID290', 'QID291', 'QID292', 'QID304', 'QID326',
       'QID286', 'QID131', 'QID132', 'QID133', 'QID289', 'QID289', 'QID289',
       'QID289', 'QID289', 'QID289', 'QID289', 'QID289', 'QID290', 'QID290',
       'QID290'],
      dtype='object', name='qid')

In [11]:
df_schema.loc['QID279','question']

'When buying a new tool or software, how do you discover and research available solutions? Select all that apply.'

In [12]:
#we can also sort the indexes
# Inplace statement make sure that the changes are permanent

df_schema.sort_index(inplace=True)

In [13]:
df_schema
#df

,qname,question,force_resp,type,selector
qid,,,,,
QID1,S1,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
QID100,SOVisitFreq,How frequently would you say you visit Stack O...,False,MC,SAVR
QID101,SOAccount,Do you have a Stack Overflow account?,False,MC,SAVR
QID102,SOPartFreq,How frequently would you say you participate i...,False,MC,SAVR
QID106,SOComm,Do you consider yourself a member of the Stack...,False,MC,SAVR
...,...,...,...,...,...
QID51,CompTotal,What is your current total <b>annual</b> compe...,False,TE,SL
QID6,Country,"Where do you live? <span style=""font-weight: b...",True,MC,DL
QID61,S3,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
QID71,OpSys,What is the primary <b>operating system</b> in...,False,Matrix,Likert
QID91,S4,"<span style=""font-size:22px; font-family: aria...",False,DB,TB

In [14]:
##   To filter the data 

high_salary=(df['ConvertedCompYearly']>50000)     #this filter will return a series of boolean values
df.loc[high_salary,['Country','TechList','ConvertedCompYearly']]

,Country,TechList,ConvertedCompYearly
ResponseId,,,
2,United States of America,Investigate,285000.0
3,United States of America,Given a list,250000.0
4,United States of America,Investigate,156000.0
6,United Kingdom of Great Britain and Northern I...,NaN,96828.0
7,United States of America,NaN,135000.0
...,...,...,...
89158,Canada,Investigate,319711.0
89159,Sweden,Investigate,52981.0
89163,Brazil,Investigate,50719.0
89171,France,NaN,64254.0
89172,Greece,NaN,61041.0

In [15]:
# sorting values based on columns

df_sorted=df.sort_values(by='Country')
df_sorted['Country']

ResponseId
21498    Afghanistan
65293    Afghanistan
1335     Afghanistan
33928    Afghanistan
77723    Afghanistan
            ...
88821            NaN
88829            NaN
88831            NaN
89029            NaN
89160            NaN
Name: Country, Length: 89184, dtype: object

In [16]:
# filtering based on a list
df_sorted

,Q120,MainBranch,Age,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,...,Frequency_1,Frequency_2,Frequency_3,TimeSearching,TimeAnswering,ProfessionalTech,Industry,SurveyLength,SurveyEase,ConvertedCompYearly
ResponseId,,,,,,,,,,,,,,,,,,,,,
21498,I agree,I am a developer by profession,35-44 years old,"Independent contractor, freelancer, or self-em...",Remote,Contribute to open-source projects;Freelance/c...,Some college/university study without earning ...,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Neither easy nor difficult,NaN
65293,I agree,I am a developer by profession,35-44 years old,"Employed, full-time",In-person,Hobby;Freelance/contract work,"Secondary school (e.g. American high school, G...",Books / Physical media;On the job training,NaN,NaN,...,1-2 times a week,10+ times a week,3-5 times a week,30-60 minutes a day,30-60 minutes a day,None of these,"Information Services, IT, Software Development...",Too long,Easy,NaN
1335,I agree,I am a developer by profession,18-24 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Professional development or self-paced learnin...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Online Courses or Certification;Other online r...,Blogs with tips and tricks;Recorded coding ses...,Udemy;Coursera,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,2403.0
33928,I agree,I am a developer by profession,18-24 years old,I prefer not to say,NaN,NaN,Something else,"Other online resources (e.g., videos, blogs, f...",Blogs with tips and tricks;How-to videos;Video...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77723,I agree,I code primarily as a hobby,Under 18 years old,"Student, full-time",NaN,NaN,"Secondary school (e.g. American high school, G...","Other online resources (e.g., videos, blogs, f...",How-to videos;Stack Overflow,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Neither easy nor difficult,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88821,I agree,None of these,35-44 years old,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88829,I agree,None of these,25-34 years old,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88831,I agree,None of these,18-24 years old,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89029,I agree,None of these,45-54 years old,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89160,I agree,None of these,Prefer not to say,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
#Filtering can be done on a list as well

countries = ['India', 'France', 'Germany']
filt_list = df['Country'].isin(countries)
df.loc[filt_list, 'Country']

ResponseId
10         India
16       Germany
18        France
20       Germany
22       Germany
          ...
89165      India
89166      India
89168      India
89169     France
89171     France
Name: Country, Length: 15886, dtype: object

In [18]:
#filtering based on a substring

# df['LanguageHaveWorkedWith'].unique()
filt_string=df['LanguageHaveWorkedWith'].str.contains('Python',na=False)
df.loc[filt_string,'LanguageHaveWorkedWith']

# df[filt_string]['Country']       to get a certain column from filtered list without using loc

ResponseId
2                               HTML/CSS;JavaScript;Python
8        Go;HTML/CSS;JavaScript;Python;Rust;SQL;TypeScript
10          HTML/CSS;Java;JavaScript;Python;SQL;TypeScript
11                       C#;C++;HTML/CSS;JavaScript;Python
12       C#;HTML/CSS;JavaScript;Kotlin;PowerShell;Pytho...
                               ...
89173    Bash/Shell (all shells);HTML/CSS;JavaScript;Pe...
89177    HTML/CSS;Java;JavaScript;PHP;Python;SQL;TypeSc...
89181                                 Dart;Java;Python;SQL
89182    Assembly;Bash/Shell (all shells);C;C#;Python;R...
89183    Bash/Shell (all shells);C#;HTML/CSS;Java;JavaS...
Name: LanguageHaveWorkedWith, Length: 43158, dtype: object

In [19]:
#Changing the name of a column

df.rename(columns={'ConvertedCompYearly':'Salary'},inplace=True)
df['Salary']

ResponseId
1             NaN
2        285000.0
3        250000.0
4        156000.0
5         23456.0
           ...
89180         NaN
89181         NaN
89182         NaN
89183         NaN
89184         NaN
Name: Salary, Length: 89184, dtype: float64

In [20]:
#changing values in rows

# This shows how apply work on series objects

df['Salary']=df['Salary'].apply(lambda x: x+100)
df['Salary']

ResponseId
1             NaN
2        285100.0
3        250100.0
4        156100.0
5         23556.0
           ...
89180         NaN
89181         NaN
89182         NaN
89183         NaN
89184         NaN
Name: Salary, Length: 89184, dtype: float64

In [21]:
# This shows how applymap work on dataframe

###### this will give a error as also have float values in dataset
df.applymap(len)

# applymap is used to work with datframes while apply cab be used for series objects and dataframes

# Map works only on series,it is used to replace values but if some value is not changed it would br assigned as NaN so our data will be lossed
# In such cases we use Replace

C:\Users\tenyj\AppData\Local\Temp\ipykernel_18256\3448084375.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df.applymap(len)

TypeError: object of type 'float' has no len()

In [30]:
# This show how to work with replace in series

df['LearnCodeCoursesCert'].replace({'NaN':'Books'})

ResponseId
1                                    NaN
2                                  Other
3                                    NaN
4                                    NaN
5                   Other;Codecademy;edX
                      ...
89180                              Udemy
89181                                NaN
89182                Codecademy;Coursera
89183                              Udemy
89184    Codecademy;Pluralsight;Coursera
Name: LearnCodeCoursesCert, Length: 89184, dtype: object

In [28]:
df_new=df

In [44]:
#df_new

df_new.sort_values(by=['Country','Salary'],ascending=[True,False],inplace=True)    ###This allows sorting one series object ascending while other in decending
df_new[['Country','Salary']].head(50)
#df_new.loc[23215,'Country']

#df_new['Salary'].nlargest(10)    GIves the largest values from the entire series 
#df.nlargest(10,'Salary')         Gives the largest values from the Dataframe including all the other details

# we can also use nsmallest

                Country     Salary
ResponseId
88348       Afghanistan  9203783.0
86039       Afghanistan    68100.0
1335        Afghanistan     2503.0
57362       Afghanistan     2388.0
17873       Afghanistan     1244.0
36049       Afghanistan     1015.0
53322       Afghanistan      894.0
41679       Afghanistan      748.0
39427       Afghanistan      148.0
37956       Afghanistan      141.0
2642        Afghanistan      133.0
2301        Afghanistan        NaN
3911        Afghanistan        NaN
4222        Afghanistan        NaN
4410        Afghanistan        NaN
10143       Afghanistan        NaN
10377       Afghanistan        NaN
14420       Afghanistan        NaN
15959       Afghanistan        NaN
20378       Afghanistan        NaN
21498       Afghanistan        NaN
21673       Afghanistan        NaN
23095       Afghanistan        NaN
26532       Afghanistan        NaN
27885       Afghanistan        NaN
29006       Afghanistan        NaN
31397       Afghanistan        NaN
33928       Afghanistan        NaN
35178       Afghanistan        NaN
38328       Afghanistan        NaN
39319       Afghanistan        NaN
44601       Afghanistan        NaN
44908       Afghanistan        NaN
46137       Afghanistan        NaN
46705       Afghanistan        NaN
47692       Afghanistan        NaN
49208       Afghanistan        NaN
51789       Afghanistan        NaN
53883       Afghanistan        NaN
55302       Afghanistan        NaN
55481       Afghanistan        NaN
55524       Afghanistan        NaN
57687       Afghanistan        NaN
57715       Afghanistan        NaN
59006       Afghanistan        NaN
60946       Afghanistan        NaN
61076       Afghanistan        NaN
61080       Afghanistan        NaN
61453       Afghanistan        NaN
62550       Afghanistan        NaN

In [50]:

##  Grouping data

# Median ---  median is not influenced by extremely large or small values

df_new['Salary'].median()

#df_new.median()   ---return median values of all numerical series in the dataframe

75063.0

In [65]:
# Describe  --- gives a broad overview on numerical stats

df_new.describe()

# df_new['Salary'].count()
# ---------- Count values in result repersent the number of non-NAN values in the dataset

# df_new['Salary'].value_counts()  
# ---------- give the count of values

          CompTotal       WorkExp        Salary
count  4.822500e+04  43579.000000  4.801900e+04
mean   1.036807e+42     11.405126  1.032101e+05
std    2.276847e+44      9.051989  6.814188e+05
min    0.000000e+00      0.000000  1.010000e+02
25%    6.300000e+04      5.000000  4.400700e+04
50%    1.150000e+05      9.000000  7.506300e+04
75%    2.300000e+05     16.000000  1.217410e+05
max    5.000000e+46     50.000000  7.435153e+07

In [73]:
df_new['Country']
#df_schema.loc['Country']

ResponseId
88348    Afghanistan
86039    Afghanistan
1335     Afghanistan
57362    Afghanistan
17873    Afghanistan
            ...
88821            NaN
88829            NaN
88831            NaN
89029            NaN
89160            NaN
Name: Country, Length: 89184, dtype: object